<html>
  <head>
    <title>Utah State RoboSub Team</title>
    <link rel="stylesheet" type="text/css" href="/Styles/main.css">
    <script src="/Scripts/jquery-3.2.1.min.js"></script>
    <script src="/Scripts/main.js"></script>
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
