<link rel="stylesheet" type="text/css" href="/Styles/contact-us.css">

<ul class="navigation desktop_hidden">
	<li class="nav-item hvr-underline-reveal" onclick="window.location='/Poseidon'">Poseidon</li>
	<li class="nav-item hvr-underline-reveal" onclick="window.location='/OpenSource'">Open-Source</li>
	<li class="nav-item hvr-underline-reveal" onclick="window.location='/TeamDirectory'">Team Directory</li>
	<li class="nav-item hvr-underline-reveal" onclick="window.location='/Sponsors'">Sponsors</li>
	<li class="nav-item hvr-underline-reveal">Contact Us</li>
</ul>
<input type="checkbox" id="nav-trigger" class="nav-trigger desktop_hidden" />
<label for="nav-trigger" class="desktop_hidden"><img src="Images/MIco_Small_D.png"></label>


<div class="site-wrap">
	<div id="header">
		<h1 class="page_title desktop_hidden">Contact Us</h1>
		<div class="menu mobile_hidden">
			<div class="menu_item" onclick="window.location='/Poseidon'">Poseidon</div>
			<div class="menu_item" onclick="window.location='/OpenSource'">Open-Source</div>
			<div class="menu_item" onclick="window.location='/TeamDirectory'">Team Directory</div>
			<div class="menu_item" onclick="window.location='/Sponsors'">Sponsors</div>
			<div class="menu_item">Contact Us</div>
		</div>
	</div>

	<div id="content">
		<div>
			<div id="form_window">
				<div id="form_info">
					<h1>TEAM ADVISOR</h1>
					<span>
						Dr Qi<br>
					</span>
					<h1>TEAM LEADERS</h1>
					<span>
						Rachel Schriever<br>
						rachelschriever21@gmail.com<br><br>
						Nathan Copier<br>
						nfcopier1@aggiemail.usu.edu
					</span>
					<h1>RELATIONS</h1>
					<span>
						deputy@usub.cs.usu.edu<br>
						(201) 252-7262
					</span>
					<div id="social">
						<div class="s_icon"><a href="https://usurobosubteam.slack.com/"><img src="Images/Slack_Medium.png"></a></div>
						<div class="s_icon"><a href="https://github.com/USU-Robosub"><img src="Images/GitHub_Medium.png"></a></div>
						<div class="s_icon"><a href="https://www.facebook.com/Utah-State-RoboSub-Team-1675735912640675/"><img src="Images/Facebook_Medium.png"></a></div>
						<div class="s_icon"><a href="https://plus.google.com/106329287936772554934/posts"><img src="Images/Plus_Medium.png"></a></div>
					</div>
				</div>
				<div id="form_input" class="mobile_hidden">
					<form action="" class="mobile_hidden">
						<h1>NAME</h1>
						<input type="text" name="name" id="name_field">
						<h1>EMAIL</h1>
						<input type="text" name="email" id="email_field">
						<h1>MESSAGE</h1>
						<textarea name="message" id="messg_field">This doesn't work yet; Sorry about that!</textarea>
						<input type="hidden" name="favorite_robot"><br><br>
						<input type="submit" value="Submit" id="sub_btn">
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="footer">
		<a href="/"><div id="logo"><img src="Images/Logo_Medium.png" id="m_logo"></div></a>
		<div id="copyright" class="mobile_hidden">&copy; 2012-2017 Utah State University</div>
	</div>
</div>
