<link rel="stylesheet" type="text/css" href="/Styles/index.css">

<ul class="navigation desktop_hidden">
	<li class="nav-item hvr-underline-reveal" onclick="window.location='/Poseidon'">Poseidon</li>
	<li class="nav-item hvr-underline-reveal" onclick="window.location='/OpenSource'">Open-Source</li>
	<li class="nav-item hvr-underline-reveal" onclick="window.location='/TeamDirectory'">Team Directory</li>
	<li class="nav-item hvr-underline-reveal" onclick="window.location='/Sponsors'">Sponsors</li>
	<li class="nav-item hvr-underline-reveal" onclick="window.location='/ContactUs'">Contact Us</li>
</ul>
<input type="checkbox" id="nav-trigger" class="nav-trigger desktop_hidden" />
<label for="nav-trigger" class="desktop_hidden"><img src="Images/MIco_Small.png"></label>


<div class="site-wrap">
	<div id="header">
		<div class="menu mobile_hidden">
			<div class="menu_item" onclick="window.location='/Poseidon'">Poseidon</div>
			<div class="menu_item" onclick="window.location='/OpenSource'">Open-Source</div>
			<div class="menu_item" onclick="window.location='/TeamDirectory'">Team Directory</div>
			<div class="menu_item" onclick="window.location='/Sponsors'">Sponsors</div>
			<div class="menu_item" onclick="window.location='/ContactUs'">Contact Us</div>
		</div>
	</div>


	<div id="wrapper">
		<div id="content"><img src="Images/Logo_Large.png"></div>
	</div>


	<div id="footer">
		<div id="social">
			<div class="s_icon"><a href="https://usurobosubteam.slack.com/"><img src="Images/Slack_Medium.png"></a></div>
			<div class="s_icon"><a href="https://github.com/USU-Robosub"><img src="Images/GitHub_Medium.png"></a></div>
			<div class="s_icon"><a href="https://www.facebook.com/Utah-State-RoboSub-Team-1675735912640675/"><img src="Images/Facebook_Medium.png"></a></div>
			<div class="s_icon"><a href="https://plus.google.com/106329287936772554934/posts"><img src="Images/Plus_Medium.png"></a></div>
		</div>
		<div id="copyright" class="mobile_hidden">&copy; 2012-2017 Utah State University</div>
	</div>
</div>
