<link rel="stylesheet" type="text/css" href="/Styles/poseidon.css">
<script src="Scripts/poseidon.js"></script>

<ul class="navigation desktop_hidden">
	<li class="nav-item hvr-underline-reveal">Poseidon</li>
	<li class="nav-item hvr-underline-reveal" onclick="window.location='/OpenSource'">Open-Source</li>
	<li class="nav-item hvr-underline-reveal" onclick="window.location='/TeamDirectory'">Team Directory</li>
	<li class="nav-item hvr-underline-reveal" onclick="window.location='/Sponsors'">Sponsors</li>
	<li class="nav-item hvr-underline-reveal" onclick="window.location='/ContactUs'">Contact Us</li>
</ul>
<input type="checkbox" id="nav-trigger" class="nav-trigger desktop_hidden" />
<label for="nav-trigger" class="desktop_hidden"><img src="Images/MIco_Small_D.png"></label>


<div class="site-wrap">
	<div id="header">
		<h1 class="page_title desktop_hidden">Poseidon</h1>
		<div class="menu mobile_hidden">
			<div class="menu_item">Poseidon</div>
			<div class="menu_item" onclick="window.location='/OpenSource'">Open-Source</div>
			<div class="menu_item" onclick="window.location='/TeamDirectory'">Team Directory</div>
			<div class="menu_item" onclick="window.location='/Sponsors'">Sponsors</div>
			<div class="menu_item" onclick="window.location='/ContactUs'">Contact Us</div>
		</div>
	</div>

	<div id="content">
		<div id="caption">
			<div id="c_vcenter">
				<h1>POSEIDON</h1>
				<span>From A Team With A Passion For Robotics</span>
			</div>
		</div>

		<div id="carousel">
			<figure id="spinner">
				<img src="Images/Prev_01.jpg" alt="">
				<img src="Images/Prev_02.jpg" alt="">
				<img src="Images/Prev_03.jpg" alt="">
				<img src="Images/Prev_04.jpg" alt="">
			</figure>
			<div id="c_nav">
				<div id="left_arrow" class="arrow_btn hvr-bob-l" onclick="galleryspin('-')">
					<img src="Images/arw_l.png">
				</div>
				<div id="right_arrow" class="arrow_btn hvr-bob-r" onclick="galleryspin('')">
					<img src="Images/arw_r.png">
				</div>
			</div>
		</div>



		<div class="feature_block">
			<div class="feature_icon"><img src="Images/Meter.png"></div>
			<div class="feature_text">
				<h1>PERFORMANCE</h1>
				<p>Instant acceleration with a maximum output of 30 pounds of thrust.</p>
				<p>Vectored thrust boasts of a full 360&deg; in half a second.</p>
			</div>
		</div>
		<div class="feature_block">
			<div class="feature_icon"><img src="Images/Time.png"></div>
			<div class="feature_text">
				<h1>EFFICIENCY</h1>
				<p>Water time exceeds 3 hours on a full charge.</p>
				<p>Minimal processing requirements.</p>
			</div>
		</div>
		<div class="feature_block">
			<div class="feature_icon"><img src="Images/Stats.png"></div>
			<div class="feature_text">
				<h1>STATISTICS</h1>
				<p>Weighs approximately 45 pounds.</p>
				<p>Utilizes a Raspberry Pi 3, Beaglebone Black, and an Arduino Due.</p>
			</div>
		</div>
		<div id="page_info">
			<div>
				<div class="page_info_cell">
					<h1>TEAM RESOURCES</h1>
					<p>
						Wednesdays in HPER Large Pool, 9:30pm - 11pm<br>
						<i>(Please contact one of the team captains before going)</i>
					</p>
					<p>
						Lab Space: SER Room 140
					</p>
				</div>
				<div class="page_info_cell">
					<h1>ADDITIONAL INFORMATION</h1>
					<p>
						The competition will occur at SSC Pacific TRANSDEC in San Diego, California. It begins Monday, July 30 and ends Sunday, August 5.
					</p>
					<div id="social">
						<div class="s_icon"><a href="https://usurobosubteam.slack.com/"><img src="Images/Slack_Medium.png"></a></div>
						<div class="s_icon"><a href="https://github.com/USU-Robosub"><img src="Images/GitHub_Medium.png"></a></div>
						<div class="s_icon"><a href="https://www.facebook.com/Utah-State-RoboSub-Team-1675735912640675/"><img src="Images/Facebook_Medium.png"></a></div>
						<div class="s_icon"><a href="https://plus.google.com/106329287936772554934/posts"><img src="Images/Plus_Medium.png"></a></div>
						<div class="s_icon"><a href="https://www.gofundme.com/2chjatm2"><img src="Images/GoFundMe_Medium.png"></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="footer">
		<a href="/"><div id="logo"><img src="Images/Logo_Medium.png" id="m_logo"></div></a>
		<div id="copyright" class="mobile_hidden">&copy; 2012-2017 Utah State University</div>
	</div>
</div>
