<div class="tab-content contact_content {% if {{startActive}} == true %} is-active {%endif%}">
  <section class="section">
    <div class="container">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdxrTB9SH9wgXYK_VJ-0uslWRYPLcn4r7uQQXKigosnPNa62Q/viewform?embedded=true" style="width: 100%;" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  </section>
  <!--
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h2 class="title is-3">SER 140 - Schedule</h2>
          <div class="times">
            <p>TBD</p>
          </div>
        </div>
        <div class="column">
          <h2 class="title is-3">Upcoming Events</h2>
          <div class="times">
            <p>Day on the Quad - Aug 29th, 10:30-2:00</p>
            <p>Welcome Meeting - Sep 5th, 5:30 PM</p>
          </div>
        </div>
      </div>
    </div>
  </section>
-->
</div>
