<div class="tab-content contact_content {% if {{startActive}} == true %} is-active {%endif%}">
  <section class="section">
    <div class=" is-size-2">SER 140 - Meeting Times</div>
    <div class="times is-size-5">
      <div class="time software">
        Software : Mondays @ 5pm
      </div>
      <div class="time electrical">
        Electrical : Wednesday @ 6pm
      </div>
      <div class="time mechanical">
        Mechanical : Thursday @ 5pm
      </div>
    </div>

  </section>
</div>
