<div class="tab-content media_content {% if {{startActive}} == true %} is-active {%endif%}">
<div class="section">
    <div class="level">
      <div class="level-item">
        <figure class="box image is-2by1" style="width:100%;">
           <img src="/media/Capture (1).JPG">
         </figure>
      </div>
      <div class="level-item" style="padding: 0 20px;">
        <figure class="image is-2by1 box" style="width:100%;">
           <img src="/media/DSC_0039 (1).jpg">
         </figure>
      </div>
      <div class="level-item">
        <figure class="image is-2by1 box" style="width:100%;">
           <img src="/media/torpedo.jpg">
         </figure>
      </div>
    </div>
    <div class=" columns">
      <div class="column">
        <figure class="image is-3by2 box">
           <img src="/media/v6.v 3.2 render underneath.jpg">
         </figure>
      </div>
      <div class="column">
         <figure class="image is-3by2 box">
            <img src="/media/v6.v 3.2 render.jpg">
          </figure>
      </div>
    </div>
  </div>
</div>
