<div class="tab-content media_content {% if {{startActive}} == true %} is-active {%endif%}">
  <div class="section">
    <figure class="image is-3by1">
       <img src="/media/Capture (1).JPG">
     </figure>
  </div>
  <div class="section">
    <figure class="image is-3by1">
       <img src="/media/DSC_0039 (1).jpg">
     </figure>
  </div>
  <div class="section">
    <figure class="image is-3by1">
       <img src="/media/torpedo.jpg">
     </figure>
  </div>
  <div class="section">
    <div class=" columns">
      <figure class="image is-3by2 column">
         <img src="/media/v6.v 3.2 render underneath.jpg">
       </figure>
       <figure class="image is-3by2 column">
          <img src="/media/v6.v 3.2 render.jpg">
        </figure>
    </div>
  </div>

</div>
