<div class="tab-content teams_content {% if {{startActive}} == true %} is-active {%endif%}">

  <section class="teams container">
  {% for team in page.teams %}
    <div class="team box">
      <div class="team-header">
        {{ team.name }}
      </div>
      <div class="team-members">
        {% for member in page.teamMembers %}
          {% if member.team == team.id %}
          <div class="member">
            {{ member.name }}
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  </section>
</div>
