@font-face {
  font-family: Gotham-Light;
  src: url(../Fonts/Gotham-Light.ttf)
}

@font-face {
  font-family: Gotham-Book;
  src: url(../Fonts/Gotham-Book.ttf)
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%
}

body {
  position: relative;
  background-color: #F8F9FA
}

a {
  text-decoration: none
}

img {
  max-width: 100%;
  max-height: 100%
}

img#m_logo {
  width: 100%;
  height: 100%
}

.desktop_hidden {
  display: none;
  visibility: hidden;
  clear: both
}

div#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 120px;
  z-index: 2
}

div#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  /*z-index:-1;*/
}

div.menu {
  display: table;
  margin-left: 55px;
  max-width: 1080px;
  width: calc(100% - 55px);
  height: 100%
}

div.menu_item {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  color: #000;
  font-family: Gotham-Light;
  font-size: 25px;
  cursor: pointer
}

div#logo {
  float: left;
  display: table;
  margin-top: 8px;
  margin-left: 50px;
  width: 210px;
  height: 102px
}

div#copyright {
  display: inline-block;
  float: right;
  margin-top: 92px;
  margin-right: 50px;
  font-family: Gotham-Light;
  font-size: 14px;
  color: #fff
}

div.s_icon {
  display: table-cell;
  padding-left: 8px;
  padding-right: 8px;
  transition: none;
  /*-webkit-filter: sepia(100%) hue-rotate(170deg);*/
}

.s_icon:hover {
  transition: all 0.2s ease-in-out;
  transform: rotateX(360deg);
}

.site-wrap {
  min-width: 100%;
  min-height: 100%;
  background-color: #F8F9FA;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1
}

@media screen and (max-height: 800px) {
  div#header {
    height: 80px
  }
  div#footer {
    height: 100px
  }
  div#copyright {
    margin-top: 75px
  }
  div#logo {
    width: 175px;
    height: 85px
  }
}

@media screen and (max-width: 850px) {
  .mobile_hidden {
    display: none;
    visibility: hidden;
    clear: both
  }
  .desktop_hidden {
    display: block;
    visibility: visible
  }
  div#header {
    position: absolute;
    height: 75px
  }
  div#footer {
    position: absolute;
    height: 100px
  }
  .site-wrap {
    position: fixed;
    top: 0;
    bottom: 100%;
    left: 0
  }
  .navigation {
    list-style: none;
    background: #2D2D2D;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    margin: 0;
    padding-left: 30px;
    font-family: Gotham-Light
  }
  .navigation>li {
    cursor: pointer;
    color: #fff;
    padding: 27px 0;
    display: block;
    width: 200px;
    border-top: solid 1px #4e4e4e;
    text-indent: 10px
  }
  .nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0)
  }
  label[for="nav-trigger"] {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
    width: 36px;
    height: 36px;
    cursor: pointer
  }
  .nav-trigger:checked+label {
    left: 220px
  }
  .nav-trigger:checked~.site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5)
  }
  .nav-trigger:checked~#header {
    left: 200px
  }
  .nav-trigger+label, .site-wrap, #header {
    transition: left .2s
  }
  .hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden
  }
  .hvr-underline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
  }
  .hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px)
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px)
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px)
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px)
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px)
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px)
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px)
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px)
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale
}

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate
}

@-webkit-keyframes hvr-bob-l {
  0% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px)
  }
  50% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px)
  }
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px)
  }
}

@keyframes hvr-bob-l {
  0% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px)
  }
  50% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px)
  }
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px)
  }
}

@-webkit-keyframes hvr-bob-float-l {
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px)
  }
}

@keyframes hvr-bob-float-l {
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px)
  }
}

.hvr-bob-l {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale
}

.hvr-bob-l:hover, .hvr-bob-l:focus, .hvr-bob-l:active {
  -webkit-animation-name: hvr-bob-float-l, hvr-bob-l;
  animation-name: hvr-bob-float-l, hvr-bob-l;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate
}

@-webkit-keyframes hvr-bob-r {
  0% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px)
  }
  50% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px)
  }
  100% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px)
  }
}

@keyframes hvr-bob-r {
  0% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px)
  }
  50% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px)
  }
  100% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px)
  }
}

@-webkit-keyframes hvr-bob-float-r {
  100% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px)
  }
}

@keyframes hvr-bob-float-r {
  100% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px)
  }
}

.hvr-bob-r {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale
}

.hvr-bob-r:hover, .hvr-bob-r:focus, .hvr-bob-r:active {
  -webkit-animation-name: hvr-bob-float-r, hvr-bob-r;
  animation-name: hvr-bob-float-r, hvr-bob-r;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate
}
